<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>

<th:block th:each="post : ${posts}">
    <th th:text="${post.id}"></th>
    <td th:text="${post.created}"></td>
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
</th:block>

</body>
</html>