<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link th:href="@{/css/main.css}" rel="stylesheet" type='text/css'>
</head>
<body>
<section th:insert="fragments/menu :: menu"></section>
<section th:insert="fragments/header :: header"></section>
<section th:insert="fragments/posts :: postBlock"></section>
<div class="container">
    <div class="row mx-auto my-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form th:action="@{/posts/{id}/update(id=${post.id})}" name="postForm" onsubmit="return validate()"  method="POST">
                <div class="mb-3">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" class="form-control" th:value="${post.title}">
                </div>
                <div class="mb-3">
                    <label for="content">Content:</label>
                    <textarea id="content"  name="content" class="form-control" th:text="${post.content}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="category">Choose category:</label>
                    <select name="category" id="category" class="form-select form-control">
                        <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"
                                th:selected="(${post.categoryId} == ${category.id})"
                        ></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="currentTags">Remove tags:</label>
                    <select name="removeTags" id="currentTags" class="form-select form-control" multiple = "multiple">
                        <option th:each="tag : ${currentTags}" th:text="${tag.name}" th:value="${tag.id}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="otherTags">Add tags:</label>
                    <select name="addTags" id="otherTags" class="form-select form-control" multiple = "multiple">
                        <option th:each="tag : ${otherTags}" th:text="${tag.name}" th:value="${tag.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3" >Save</button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
    function validate(){
        var x = document.forms["postForm"]["title"].value;
        var y = document.forms["postForm"]["content"].value;

        if (x.length === 0 || y.length === 0) {
            alert("Title and Content should be filled!");
            return false;
        }

    }
</script>
</body>
</html>