body
{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.header h1, .header .categories, .header a
{
    font-weight: 800;
    text-align:center;
    color: #fff;
}

.categories{
    text-align: center;
    line-height: 44px;
    font-weight: 600;
}

.categories a{
    padding-right: 15px;
    color: #374785;
}

.buttons button{
    background: #374785;
}