<div th:fragment="header" style="background-color: #374785" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto mt-3 mb-5">
                <h1 th:text="${title}"></h1>
            </div>
        </div>
    </div>
</div>