<div th:fragment="postBlock" class="container">
    <div class="row mx-auto">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div th:each="post : ${posts}"  class="my-5">
                <a th:href="@{/posts/{id}(id=${post.id})}">
                    <h2 th:text="${post.title}"></h2>
                </a>
                <p th:text="${post.content}"></p>
                <p>Posted on <span th:text="${post.created}"></span></p>
            </div>
        </div>
    </div>
</div>